[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=mykeyboard
Comment=Changes keyboard behabiour and trackpad
Exec=mykeyboard.sh --setup
Terminal=true
Hidden=false