[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=mykeyboard
Comment=Changes keyboard behabiour and trackpad
Exec=/bin/bash -lc '/home/loncelot/.local/bin/mykeyboard.sh --setup >/dev/null 2>&1 &'
