[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=mykeyboard
Comment=Changes keyboard behabiour and trackpad
Exec=/home/loncelot/.local/bin/mykeyboard.sh --setup
