[Desktop Entry]
Type=Application
Name=mythoriumico
Comment=Changes the thorium icon for the web page that it's in
Exec=/home/loncelot/.local/bin/mythoriumico.sh
Terminal=false