[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=WebBrowser
X-XFCE-CommandsWithParameter=thorium-browser "%s"
Icon=thorium-browser
Name=thorium-browser
X-XFCE-Commands=thorium-browser

